<h1>Conviértete en premium</h1>

<form id="premiumForm">
  <input type="hidden" id="uid" value="{{user._id}}" />
  <button id="cambioPremium" class="btn btn-success mt-3">
    Cambiar a premium
  </button>
</form>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
></script>
<script src="/js/premium.js"></script>