<h1 class="h1-profile"> Mi Perfil</h1>

<div class="profile-card">
  <p>Bienvenido, {{user.nombre}} {{user.apellido}}!</p>
  <p>Rol: {{user.role}}</p>
  <a class="btnMios" href="/Home">Home</a>
  <form action="/api/users/logout" method="POST">
    <button class="btnMios" type="submit">Logout</button>
  </form>

  {{#if this.isAdmin}}
    <a class="btnMios" href="/realtimeproducts">Modificar Productos</a>
  {{else}}
    {{#if this.isPremium}}
      <a class="btnMios" href="/panel-premium">Panel Premium</a>
    {{/if}}
    <a class="btnMios" href="/products">Tienda</a>
  {{/if}}
  <a href="/premium" class="btnMios">Cambiar a Premium</a>

</div>